<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kirjautumissivu.Properties.Settings.reservationsystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\p119989\Documents\Visual Studio 2015\Projects\WindowsFormsApplication4\WindowsFormsApplication4\Access\reservationsystem.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>